---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-exporter
  namespace: cognive
  labels:
    app: cognive
    component: redis-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cognive
      component: redis-exporter
  template:
    metadata:
      labels:
        app: cognive
        component: redis-exporter
    spec:
      containers:
        - name: redis-exporter
          image: oliver006/redis_exporter:v1.55.0
          ports:
            - name: metrics
              containerPort: 9121
              protocol: TCP
          env:
            - name: REDIS_ADDR
              value: redis://redis:6379
          resources:
            requests:
              memory: "32Mi"
              cpu: "25m"
            limits:
              memory: "128Mi"
              cpu: "100m"

---
apiVersion: v1
kind: Service
metadata:
  name: redis-exporter
  namespace: cognive
  labels:
    app: cognive
    component: redis-exporter
spec:
  type: ClusterIP
  selector:
    app: cognive
    component: redis-exporter
  ports:
    - name: metrics
      port: 9121
      targetPort: 9121
      protocol: TCP



